// primaries

$softred: hsl(7, 99%, 70%);
$alphared: hsla(7, 99%, 70%, 0.15);
$yellow: hsl(51, 100%, 49%);
$alphayellow: hsla(51, 100%, 49%, 0.15);
$medcyan: hsl(168, 34%, 41%);
$ltcyan: hsl(168, 34%, 70%);
$darkcyan: hsl(167, 40%, 24%);
$darkblue: hsl(198, 62%, 26%);
$ltred: hsla(7, 100%, 80%, 0.85);
// neutrals

$darknavy: hsl(212, 27%, 19%);
$darkgrayblue: hsl(213, 9%, 39%);
$medgrayblue: hsl(232, 10%, 55%);
$ltgrayblue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$alphawhite: hsla(0, 0%, 100%, 0.3);
